@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #f3f5fc;
  font-family: "Inter", sans-serif;
}

#logo {
  width: 120px;
  height: 48px;
  margin-top: 40px;
  margin-left: 40px;
}

#projeto {
  display: flex;
  flex-direction: row;
  gap: 500px;
}

#recebido {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  text-decoration: transparent;
  margin-top: 50px;
  margin-left: 250px;
  border: transparent;
  background-color: transparent;
  color: #0a3871;
  width: 90%;
  height: 75%;
  resize: none;
}

#decodificador {
  width: 50%;
  display: flex;
  margin-bottom: 72px;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

#interacao {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
div {
  display: flex;
}

#atencao {
  width: 50px;
  height: 16px;
}

#etiqueta {
  color: #495057;
  font-family: "Inter";
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  align-items: baseline;
  justify-content: space-between;
  width: 228px;
  height: 18px;
}

#botoes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 20px;
  gap: 24px;
}

#cripto {
  width: 328px;
  height: auto;
  padding: 24px;
  align-items: flex-start;
  border-radius: 24px;
  background-color: #0a3871;
  color: white;
}

#cripto:hover {
  background-color: #495057;
}
#descripto {
  width: 328px;
  height: auto;
  padding: 24px;
  align-items: flex-start;
  border-radius: 24px;
  background-color: #0a3871;
  color: white;
}

#descripto:hover {
  background-color: #495057;
}
#resultado {
  width: 400px;
  height: 944px;
  flex-shrink: 0;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
}

#droid {
  color: #0a3871;
}

#copy {
  width: 328px;
  height: auto;
  padding: 24px;
  align-items: flex-start;
  border-radius: 24px;
  background-color: white;
  color: #0a3871;
}

#copy:hover {
  background-color: #495057;
  color: white;
}

#rodape {
  background-color: #0a3871;
  font-size: 1.25rem;
  color: white;
  width: 100%;
  padding: 20px;
  font-family: "inter";
  text-align: center;
}

@media (max-width: 768px) {
  #projeto {
    flex-direction: column;
    gap: 20px;
  }
  #decodificador {
    width: 90vw;
    height: 60vh;
  }

  #recebido {
    margin-left: 50px;
  }

  #resultado {
    width: 90vw;
    height: 20vh;
    margin-left: 35px;
  }

  #droid {
    display: none;
  }
}

@media (max-width: 375px) {
  #projeto {
    flex-direction: column;
    gap: 20px;
  }
  #decodificador {
    width: 90vw;
    height: 60vh;
  }

  #recebido {
    margin-left: 35px;
  }

  #botoes {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  #resultado {
    width: 90vw;
    height: 20vh;
  }

  #droid {
    display: none;
  }
}

@media (max-width: 1440px) {
  #rodape {
    width: 120vw;
  }
}
